node_modules

# build output
/.svelte-kit
/build

# Paraglide output
/src/lib/paraglide
/project.inlang/cache/

# Playwright
/test-results
/playwright-report
/screenshots

# env files
.env
.env.*
!.env.example

# misc
.DS_Store
Thumbs.db
vite.config.ts.timestamp-*
